__pycache__/
.idea/
build
deemon.egg-info
dist
test.txt
venv
.cache
.worktrees/
tests.py
**/.DS_Store
artists.txt
/deemon/tests/
.vscode/settings.json
.vscode/launch.json
createenv.sh
.python-version
Icon

# macOS custom folder icon file
Icon?
