__pycache__/
.venv/
.idea/
build
deemon.egg-info
dist
test.txt
venv
.cache
.worktrees/
**/.DS_Store
docs/archive.7z
artists.txt
/deemon/tests/
.vscode/settings.json
.vscode/launch.json
createenv.sh
.python-version
Icon

# macOS custom folder icon file
Icon?
